{% extends "layout.html" %}

{% block title %}
Message
{% endblock %}

{% block headline %}
{{ title }}
{% endblock %}


{% block content %}
<div class="text-right h6">
    <a href="/logout">Logout</a>
</div>
<div class="alert alert-success p-1">
    <h5>{{ message }}</h5>
</div>

<!-- 切り替えタブ部分 -->
<ul class="nav nav-tabs" role="tablist">
    <!-- １つ目のタブ -->
    <li class="nav-item">
        <a class="nav-link" href="#msgs"
           data-toggle="tab" role="tab">Messages</a>
    </li>
    <!-- ２つ目のタブ -->
    <li class="nav-item">
        <a class="nav-link" href="#frms"
           data-toggle="tab" role="tab">Form</a>
    </li>
</ul>

<!-- コンテンツ部分 -->
<div class="tab-content">
    <!-- １つ目のコンテンツ -->
    <div class="tab-pane fade show active" id="msgs"
         role="tabpannel">
        <h5 class="p-3 h5 text-center">
            * Posted Messages *
        </h5>
        <ul class="list-group list-group-flush">
            {% for item in data | reverse %}
            <li class="list-group-item">
                {{item[1]}} ({{item[0]}})
            </li>
            {% endfor %}
        </ul>
    </div>

<!-- ２つ目のコンテンツ -->
<div class="tab-pane fade" id="frms"
     role="tabpannel"></div>
    <h5 class="mt-4">
        Post your message:
    </h5>
    <div class="card mt-4">
        <div class="card-body">
            <form method="post" action="/">
            <div class="form-group">
                <label for="comment">Massege</label>
                <div class="row">
                <input type="text" class="form-control col"
                       id="comment" name="comment">
                <input class="btn btn-primary col-3 col-sm-3 col-md-2 col-log-2 col-xl-2"
                       type="submit" value="POST NOW!">
                </div>
            </div>
            </form>
        </div>
    </div>



</div>

{% endblock %}